/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Profile avatar */
  .avatar-container {
      width: 100px; /* Adjust the width and height based on your design */
      height: 100px;
      overflow: hidden;
      border-radius: 50%;
      display: flex !important;
      align-items: center !important;
      justify-content: center !important;
  }

  .avatar-container img {
      width: 100%;
      height: auto;
      object-fit: cover;
  }
/* end avatar */

/* Toast style */
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 50;
}

#toast {
  width: auto;
  position: fixed;
  top: 25px;
  right: 30px;
  border-radius: 12px;
  background-color: #fff;
  padding: 20px 35px 20px 25px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border-left: 6px solid #fff;
  overflow: hidden;
  transform: translateX(calc(100% + 30px));
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
  z-index: 100;
}

#toast.active {
  transform: translateX(0%);
}

#toast .toast-content {
  display: flex;
  align-items: center;
}

.toast-content .check {
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 35px; */
  /* width: 35px; */
  background-color: gray;
  color: #fff;
  font-size: 20px;
  border-radius: 50%;
}


.toast-content .message {
  display: flex;
  flex-direction: column;
  margin: 0 14px;
}

.message .text {
  font-size: 16px;
  font-weight: 300;
  color: #666666;
}

.message .text.text-1 {
  font-weight: 500;
  color: #333;
}

#toast .close {
  position: absolute;
  top: 6px;
  right: 6px;
  padding: 5px;
  cursor: pointer;
  opacity: 0.7;
}

#toast .close:hover {
  opacity: 1;
}

#toast .progress {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 100%;
  background: #ddd;
}

#toast.error .progress:before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: #ff3d43;
}

#toast.success .progress:before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: green;
}

.progress.active:before{
  animation: progress 5s linear forwards;
}

@keyframes progress {
  100%{
      right: 100%;
  }
}

/* Styles for success toast */
#toast.success {
  border-left: 6px solid #28a745; /* Green border for success */
}

#toast.success .check {
  background-color: #28a745; /* Green color for success toast check mark */
  color: #fff;
  font-size: 20px;
}

/* Styles for error toast */
#toast.error {
  border-left: 6px solid #dc3545; /* Red border for error */
}

#toast.error .check {
  background-color: #dc3545; /* Red color for error toast check mark */
  color: #fff;
  font-size: 20px;
}

/* end toast */

#accordionSidebar {
  /* background-color: #f50443 !important; */
  background-color: #041b2b !important;
  /* background-color: black !important; */
}

#tables {
  background-color: white !important;
  color: gray;
}

th{
  white-space: nowrap;
}

td{
  white-space: nowrap;
  text-align: center;
}

/* base.php */
.my-logo{
  height: 50px;
  width: 50px;
}
/* end base.php */

.nav-link.disabled-link{
  pointer-events: none !important;
}

.nav-link.my.active{
  color: #f50443 !important;
  font-weight: bold;
}

.fas.fa-fw.fa-tachometer-alt.my.active{
  color: #f50443 !important;
}

.fas.fa-fw.fa-table.my.active{
  color: #f50443 !important;
}

.my-border-left-color{
    border-left: 0.25rem solid #f50443 !important;
}

.my-card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #e3e6f0;
  border-radius: 0.35rem;
}

.my-card-header {
  flex-direction: row;
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  /* background-color: #f8f9fc; */
  background-color: #041b2b;
  border-bottom: 2px solid #f50443;
  display: flex; 
  justify-content: space-between;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  /* align-items: center; */
}

.my-card-footer {
  padding: 0.75rem 1.25rem;
  /* background-color: #f8f9fc; */
  background-color: #041b2b;
  border-top: 2px solid #f50443;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.my-card-text-color{
    color: gray;
}

.my-primary-color{
  color: #041b2b !important;
}

.my-text-primary{
  color: #e3e6f0 !important;
}

.my-secondary-color{
  color: #f50443 !important;
}

.my-primary-bgColor{
  background-color: #041b2b !important;
}
.my-secondary-bgColor{
  background-color: #f50443 !important;
}

.bgColor{
  background-color: #041b2b !important;
}

.my-link {
  color: #e3e6f0; /* Set your normal text color */
  text-decoration: none; /* Remove underline */

  /* Additional styles for other states */
}

.my-link:hover {
  color: #f50443; /* Set the color for when the link is hovered */
}

.my-link:active {
  color: #f50443; /* Set the color for when the link is pressed */
}

.my-vh-100 {
    height: 100vh !important;
}

/* body{
  background-color: #041b2b;
} */

.user-img-circle {
  border-radius: 50% !important;
  width: 50px !important; /* Adjust the width and height based on your design */
  height: 50px !important;
  object-fit: cover !important; /* Preserve aspect ratio while covering the entire container */
}

/* Register */

.my-div {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.my-icon {
  width: 60px;
  height: 60px;
}

.my-h1 {
  color: black;
  padding: 10px;
}

.my-container {
  align-items: center;
  width: 70%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-right: auto;
  margin-left: auto;
  margin-top: 7%;
}

.my-text-gray-900 {
    color: white !important;
  }

.my-register-card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #041b2b !important;
    background-clip: border-box;
    border: 1px solid #e3e6f0;
    border-radius: 0.35rem;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.17) !important;
}

.my-bg-register {
  background-color: white !important;
}

.my-bg-register-image {
  background: url("../img/splash.png") !important;
  background-position: center !important;
  background-size: cover !important;
  background-size: 60% !important;
  background-repeat: no-repeat !important;
  height: 100% !important;
}

.my-btn-primary {
    color: #fff !important;
    background-color: #041b2b !important;
    border-width: 1;
    border-color: white;
  }
  
.my-btn-primary:hover {
    color: #fff !important;
    background-color: #f50443 !important;
}

.my-btn-success {
    color: #fff !important;
    background-color: #1cc88a !important;
    border-width: 1;
    border-color: white;
  }
  
.my-btn-success:hover {
    color: #fff !important;
    background-color: #f50443 !important;
}

.my-btn-error {
    color: #fff !important;
    background-color: #e74a3b !important;
    border-width: 1;
    border-color: white;
  }
  
.my-btn-error:hover {
    color: #fff !important;
    background-color: #f50443 !important;
}

.my-a-btn {
  color: white;
  text-decoration: none;
}

.my-a {
  color: white;
  text-decoration: none;
  background-color: transparent;
}

.my-a:hover {
  color: #f50443;
  text-decoration: underline;
}

.my-a:not([href]):not([class]) {
  color: inherit;
  text-decoration: none;
}

.my-a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}

.my-fade{
  transition: opacity 0.15s linear !important;
  width: 70%;
  height: 70%;
}

.my-modal{
  position: fixed;
  top: 10%;
  left: 30%;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
}

/* End Register */

/* Segmented Control */
.segmented-option {
  text-decoration: none;
  padding: 8px 16px;
  margin: 4px;
  color: #041b2b;
  background-color: #ffffff;
  border: 1px solid #041b2b;
  border-radius: 4px;
  cursor: pointer;
}
.segmented-option:hover {
  text-decoration: none;
  padding: 8px 16px;
  margin: 4px;
  color: #fff;
  background-color: #f50443;
  border: 1px solid #041b2b;
  border-radius: 4px;
  cursor: pointer;
}

.segmented-option.selected {
  color: #ffffff;
  background-color: #f50443;
}

/* timeline */

/* Styles for the fixed button */
.fixed-button-container {
  position: fixed;
  bottom: 95px; /* Adjust the top distance as needed */
  right: 20px; /* Adjust the right distance as needed */
  z-index: 1000; /* Ensure the button is above other elements */
}

.event-section {
  border: 1px solid #ccc;
  margin-bottom: 20px;
  padding: 10px;
}

.timeline {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative
}

.timeline:before {
  content: '';
  position: absolute;
  top: 5px;
  bottom: 5px;
  width: 5px;
  background: #2d353c;
  left: 20%;
  margin-left: -2.5px
}

.timeline>li {
  position: relative;
  min-height: 10px;
  padding: 20px 0
}

/* todays event */

.timeline li.today-event {
  /* Styles for today's event */
  border: 2px solid #041b2b; /* Darker red border for emphasis */
  border-radius: 0.7em;
  background-color: #041b2b; /* Lighter red background color for emphasis */
  box-shadow: 0 0 10px rgba(31, 50, 67, 0.5); /* Box shadow for added emphasis */
  padding: 20px; /* Larger padding for emphasis */
  margin-bottom: 20px; /* Larger margin for separation */
}

.timeline li.today-event .timeline-time {
  /* Styles for today's event timeline time */
  background-color: #f50443; /* Darker red background color for emphasis */
  color: #fff; /* White text color for contrast */
  height: 30px;
  margin-top: 10px;
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}

.timeline li.today-event .timeline-time .date {
  font-size: 15px;
  font-weight: bold;
  line-height: 30px; /* Adjust this value to match the height of the container */
  margin-top: 0px; 
  margin-right: 10px;
}

.timeline li.today-event .timeline-icon a {
  /* Styles for today's event timeline icon */
  width: 30px;
  height: 30px;
  display: inline-block;
  border-radius: 20px;
  background-color: #d9e0e7; /* Darker red background color for emphasis */
  border: 5px solid #f50443;
}

.timeline li.today-event .timeline-body {
  /* Styles for today's event timeline body */
  background-color: #1f3243; /* Lighter red background color for emphasis */
  color: #fff;
  margin-top: 20px;
}

.timeline li.today-event .timeline-content {
  /* Styles for today's event timeline content */
  color: #fff; /* Darker text color for emphasis */
}

li.today-event .timeline-header .username,
li.today-event .timeline-header .username a {
  color: #fff;
}

/* end todays event */


.timeline .timeline-time {
  position: absolute;
  left: 0;
  width: 18%;
  text-align: right;
  top: 30px
}

.timeline .timeline-time .date,
.timeline .timeline-time .time {
  display: block;
  font-weight: 600;
  margin-top: 15px;
}

.timeline .timeline-time .date {
  line-height: 16px;
  font-size: 12px
}

.timeline .timeline-time .date-title {
  display: block;
  font-weight: 800;
  margin-top: 15px;
  line-height: 18px;
  font-size: 20px;
  color: #f50443;
}

.timeline .timeline-time .time {
  line-height: 24px;
  font-size: 20px;
  color: #242a30;
}

.timeline .timeline-icon {
  left: 15%;
  position: absolute;
  width: 10%;
  text-align: center;
  top: 40px
}

.timeline .timeline-icon a {
  text-decoration: none;
  width: 30px;
  height: 30px;
  display: inline-block;
  border-radius: 20px;
  background: #d9e0e7;
  line-height: 10px;
  color: #fff;
  font-size: 14px;
  border: 5px solid #2d353c;
  transition: border-color .2s linear
}

.timeline .timeline-body {
  margin-left: 23%;
  margin-right: 17%;
  background: #fff;
  position: relative;
  padding: 20px 25px;
  border-radius: 6px
}

/* .timeline .timeline-body:before {
  content: '';
  display: block;
  position: absolute;
  border: 10px solid transparent;
  border-right-color: #fff;
  left: -20px;
  top: 20px
} */

.timeline .timeline-body>div+div {
  margin-top: 15px
}

.timeline .timeline-body>div+div:last-child {
  margin-bottom: -20px;
  padding-bottom: 20px;
  border-radius: 0 0 6px 6px
}

.timeline-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #e2e7eb;
  line-height: 30px
}

/* .timeline-header-main {
  padding-bottom: 10px;
  border-bottom: 1px solid #e2e7eb;
  line-height: 30px
} */

.timeline-header .userimage {
  float: left;
  width: 34px;
  height: 34px;
  border-radius: 40px;
  overflow: hidden;
  margin: -2px 10px -2px 0
}

.timeline-header .username {
  font-size: 16px;
  font-weight: 600
}

.timeline-header .username,
.timeline-header .username a {
  color: #2d353c
}

.timeline img {
  max-width: 100%;
  display: block
}

.timeline-content {
  letter-spacing: .25px;
  line-height: 18px;
  font-size: 13px
}

.timeline-content:after,
.timeline-content:before {
  content: '';
  display: table;
  clear: both
}

.timeline-title {
  margin-top: 0
}

.timeline-footer {
  background: #fff;
  border-top: 1px solid #e2e7ec;
  padding-top: 15px
}

.timeline-footer a:not(.btn) {
  color: #575d63
}

.timeline-footer a:not(.btn):focus,
.timeline-footer a:not(.btn):hover {
  color: #2d353c
}

.timeline-likes {
  color: #6d767f;
  font-weight: 600;
  font-size: 12px
}

.timeline-likes .stats-right {
  float: right
}

.timeline-likes .stats-total {
  display: inline-block;
  line-height: 20px
}

.timeline-likes .stats-icon {
  float: left;
  margin-right: 5px;
  font-size: 9px
}

.timeline-likes .stats-icon+.stats-icon {
  margin-left: -2px
}

.timeline-likes .stats-text {
  line-height: 20px
}

.timeline-likes .stats-text+.stats-text {
  margin-left: 15px
}

.timeline-comment-box {
  background: #f2f3f4;
  margin-left: -25px;
  margin-right: -25px;
  padding: 20px 25px
}

.timeline-comment-box .user {
  float: left;
  width: 34px;
  height: 34px;
  overflow: hidden;
  border-radius: 30px
}

.timeline-comment-box .user img {
  max-width: 100%;
  max-height: 100%
}

.timeline-comment-box .user+.input {
  margin-left: 44px
}

.lead {
  margin-bottom: 20px;
  font-size: 21px;
  font-weight: 300;
  line-height: 1.4;
}

.text-danger, .text-red {
  color: #ff5b57!important;
}
/* end timeline */


/* .my-btn-primary:focus, .my-btn-primary.focus {
    color: #fff;
    background-color: #f50443;
} */
  
  /* .my-btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #4e73df;
    border-color: #4e73df;
  }
  
  .my-btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
  .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #2653d4;
    border-color: #244ec9;
  }
  
  .my-btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
  .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(105, 136, 228, 0.5);
  } */


/* #Icon {
    background-color: white;
} */